/* faq
------------------------- */
.faq {
	padding: 50px 0;
	height: 70%;
	background: $color_gray;
	box-sizing: border-box;

	&_list {
		@include mq (pc) {
			width: 80%;
			margin: 0 auto;
		}
	}

	&_item {
		position: relative;
		width: 100%;
		margin-bottom: 40px;
		padding: 5px 0;
		border: 1px solid $color_main;
		border-radius: 10px;
		background: $color_white;
		box-sizing: border-box;
		@include mq (lg) {
			&:hover {
				cursor: pointer;
			}
		}

		// 「Q」アイコン
		&_icon {
			position: absolute;
			padding: 2px 8px;
			top: 50%;
			left: 4%;
			transform: translateY(-50%);
			color: $color_white;
			font-family: $font_en;
			background-color: $color_main;
			border-radius: 100%;
		}

		// 質問 - 内容
		&_ttl {
			position: relative;
			display: flex;
			align-items: center;
			font-weight: bold;
			padding: 3% 16%;
			@include mq (md) {
				padding: 2% 12%;
			}
			@include mq (lg) {
				padding: 2% 10%;
			}

			// トグルアイコン
			&::before,
			&::after {
				content:'';
				display: inline-block;
				position: absolute;
				top: 50%;
				right: 5%;
				width: 18px;
				height: 3px;
				background-color: $color_main;
				transition: all .3s ease-in-out;
			}
			// CLOSE時
			&::before {
				transform: translateY(-50%) rotate(90deg);
			}
			&::after {
				transform: translateY(-50%);
			}
			// OPEN時
			&.open::before {
				transform: rotate(180deg);
			}
			&.open::after {
				opacity: 0;
			}
		}

		// 質問 - 回答
		&_answer {
			display: none;
			margin: 4px 20px 0 20px;
			padding: 2% 4%;
			text-align: left;
			font-size: rem(12);
			border-top: 1px solid $color_main;
			@include mq (pc) {
				padding: 2% 6%;
				font-size: rem(14);
			}
		}
	}
}