/* base
------------------------- */
body {
	font-size: rem(14);
	font-family: $font_base;
	color: $color_base;
	letter-spacing: .05em;
	line-height: 1.6;
	@include mq (pc) {
		font-size: rem(16);
	}
}

a {
	text-decoration: none;
	@include mq (lg) {
		&:hover {
			cursor: pointer;
		}
	}
}

img {
	width: 100%;
}

// 強調色
.emphasis {
	color: $color_emphasis;
}


// セクション
.sec {
	margin-bottom: 80px;
	@include mq (pc) {
		margin-bottom: 120px;
	}

	&_ttl_area {
		text-align: center;
		margin-bottom: 50px;
	}

	// セクションタイトル
	&_ttl {
		position: relative;
		display: inline-block;
		padding: 0 10px 10px;
		font-size: rem(24);
		font-weight: bold;
		@include mq (pc) {
			font-size: rem(36);
		}
		@include mq (md) {
			font-size: rem(32);
		}
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
			content: '';
			width: 100%;
			height: 2px;
		}

		&.white {
			color: $color_white;
			&::after {
				background-color: $color_white;
			}
		}
		&.black {
			color: $color_base;
			&::after {
				background-color: $color_base;
			}
		}
		// セクションタイトル - 英語
		&_en {
			margin-top: 10px;
			font-size: rem(14);
			font-family: $font_en;
			font-weight: bold;
			@include mq (pc) {
				font-size: rem(20);
			}
			@include mq (md) {
				font-size: rem(16);
			}
			
			&.white {
				color: $color_white;
			}
			&.black {
				color: $color_base;
			}
		}
	}
}

// セクションインナー
.inner {
	padding: 0 4vw;
	@include mq (xl) {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 200px;
	}
}

// リンクボタン
.link_btn {
	color: $color_white;
	font-size: rem(14);
	font-weight: bold;
	transition: color .4s;
	@include mq (md) {
		font-size: rem(12);
	}
}