
// ---------- カラー ---------- //
// メインカラー
$color_main: #36a2ff !default;



// ベースカラー
$color_base: #3e3e3e !default;
$color_white: #fff !default;
$color_gray: #f5f5f5 !default;

$color_emphasis: #ff8f3c !default;

$color_asterisk: #ff5757 !default;



// fv_セクション
$color_catchcopy_bg: rgba(255, 255, 255, .8) !default;



// about_セクション
$color_about_ttl: #cfe5f7 !default;
$color_recommended_border: #c9c9c9 !default;



// feature_セクション
$color_feature_border: #cbcbcb !default;



// support_セクション
$color_support_ttl: #cfe5f7 !default;



// menu_セクション
$color_menu_bg_top: #646464 !default;
$color_menu_bg_bottom: #afafaf !default;

 

// impression_セクション
$color_impression_bg_top: #efefef !default;
$color_impression_bg_bottom: #dedede !default;

$color_impression_emphasis: #fffad0 !default;
